body {
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Fraunces', serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: #3ebdfd;
    height: 4rem;
    padding: 0 2rem;
    color: white;
    font-family: 'Barlow', sans-serif;
}

header img {
    height: 1.5rem;
}

header > div a {
    margin-left: 2rem;
}

.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    background-image: url("images/desktop/image-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #3ebdfd;
}

.background h1 {
    color: white;
    letter-spacing: .5rem;
}

.background img {
    height: 5rem;
    padding: 6rem 0;
}