body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fraunces', serif;
}

* p {
    font-family: 'Barlow', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: #3ebdfd;
    height: 4rem;
    padding: 0 2rem;
    color: white;
    font-family: 'Barlow', sans-serif;
}

header img {
    height: 1.5rem;
}

header > div a {
    margin-left: 2rem;
}

.background {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("images/desktop/image-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #3ebdfd;
    height: 100vh;
}

.background h1 {
    color: white;
    letter-spacing: .5rem;
}

.background img {
    height: 5rem;
    padding: 6rem 0;
}

.item-transform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 25%;
}

.item-transform h1 {
    font-weight: 900;
    font-size: 2rem;
}

.item-transform p {
    max-width: 45ch;
    padding-bottom: 1rem;
    line-height: 1.5rem;
}

.item-transform a {
    font-weight: 900;
}

.egg {
    background: url("images/desktop/image-transform.jpg") no-repeat center;
}

.red-cup {
    background: url("images/desktop/image-stand-out.jpg") no-repeat center;
}

.txt-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    text-align: center;
    padding: 0 25%;
    line-height: 1.5rem;
}

.txt-center p {
    max-width: 45ch;
    padding-bottom: 20%;
}

.cherry {
    background: url("images/desktop/image-graphic-design.jpg") no-repeat center;
}

.orange {
    background: url("images/desktop/image-photography.jpg") no-repeat center;
}

.grid-fit {
    height: 70vh;
    background-size: cover;
}

.client {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#flex-direction {
    display: flex;
    flex-direction: row;
}
